
 .category,
 .category__mobile {
    margin-bottom: 92px;
    display: flex;
    gap: 10px;
}
 .category .active,
 .category__mobile .active {
    background-color: #000;
    color: white;
}
.category__item,
.category__item__mobile,
.btn__mobile__сategory {
    padding: 19px 65px;
    font-size: 17px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
    text-decoration: none;
    color: rgba(0,0,0,1);
    width: 100%;
}
 .goods {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .show__goods {
    margin-bottom: 65px;
    font-size: 17px;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
}
.category__mobile {
    display: none;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    flex-direction: column;
}
.mobile__category__all {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    transform: translateY(-130%);
    transition: all .5s ease;
    height: 0;
}
.btn__mobile__сategory {
    position: relative;
    z-index: 5;
    background-color: white;
    outline: none;
}
.btn__mobile__сategory:active {
    background-color: rgba(241, 234, 220, 1);
    transition: all .5s ease;
}
.mobile__category__all.mobile__active {
    height: 100%;
    transform: translateY(0);
    transition: all .5s ease;
}
.mobile__category__all li {
    text-align: center;
}
.mobile__category__all a {
    text-decoration: none;
}
.mobile__category__all li.active a {
    color: white;
}

@media only screen and (max-width: 1200px) {
    .category__item {
        padding: 19px 50px;
    }
}
@media only screen and (max-width: 992px) {
    .category__item {
        padding: 15px 27px;
    }
     .show__goods {
        font-size: 15px;
        margin-bottom: 50px;
    }
     .category {
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 768px) {
     .category {
        display: none;
    }
     .goods {
        margin-top: 40px;
    }
     .category__mobile {
        display: flex;
    }
     .show__goods {
        margin-bottom: 40px;
    }
}
