
.title__h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    margin-bottom: 92px;
}

@media only screen and (max-width: 992px) {

    .title__h2 {
        font-size: 34px;
        margin-bottom: 50px;
    }
}