

.main__textarea {
    margin-bottom: 35px;
    font-size: 17px;
    border: none;
    border-bottom: black 1px solid;
    resize: none;
    max-width: 443px;
    max-height: 134px;
    outline: none;
}

.main__textarea::placeholder {
    font-size: 17px;
    font-weight: 500;
}
.main__textarea:hover,
.main__textarea:focus {
    border-bottom: #33a0a8 1px solid;
    transition: .1s ease;
}
@media only screen and (max-width: 768px) {
    .main__textarea {
        font-size: 15px;
        margin-bottom: 25px;
        max-height: 120px;
    }
    .main__textarea::placeholder {
        font-size: 15px;
    }
}
@media only screen and (max-width: 768px) {
    .main__textarea {
        font-size: 14px;
        margin-bottom: 22px;
        max-height: 100px;
    }
    .main__textarea::placeholder {
        font-size: 14px;
    }
}