
.main__input {
    max-width: 350px;
    width: 100%;
    padding: 0 0 16px 0;
    border: none;
    border-bottom: black 1px solid;
    font-size: 17px;
    outline: none;
    margin-bottom: 35px;
}
.main__input::placeholder {
    font-size: 17px;
    font-weight: 500;
}
.main__input:hover,
.main__input:focus {
    border-bottom: #33a0a8 1px solid;
    transition: .1s ease;
}