
.shop .shop__category {
    font-size: 17px;
    font-weight: 500;
}
.shop .category {
    margin-bottom: 92px;
    display: flex;
    gap: 10px;
}
.shop .category .active {
    background-color: #000;
    color: white;
}
.category__item {
    padding: 19px 65px;
    font-size: 17px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
    text-decoration: none;
    color: rgba(0,0,0,1);
}
.shop .goods {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shop .show__goods {
    margin-bottom: 65px;
    font-size: 17px;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
}
.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.pages {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.paginator span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
}
.paginator .active {
    background-color: #000;
    color: #fff;
}
.paginator .normal {
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}
.paginator .vector {
    position: absolute;
    width: 20px;
    height: 10px;
    cursor: pointer;
    filter: opacity(50%);
}
.paginator .pages .left {
    left: -40px;
}
.paginator .pages .right {
    right: -40px;
}
.paginator .pages .left:hover,
.paginator .pages .right:hover{
    filter: opacity(100%);
    transition: .5s ease;
}