
.shop .shop__category {
    font-size: 17px;
    font-weight: 500;
}
.shop .category,
.shop .category__mobile {
    margin-bottom: 92px;
    display: flex;
    gap: 10px;
}
.shop .category .active,
.shop .category__mobile .active {
    background-color: #000;
    color: white;
}
.category__item,
.category__item__mobile,
.btn__mobile__сategory {
    padding: 19px 65px;
    font-size: 17px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
    text-decoration: none;
    color: rgba(0,0,0,1);
    width: 100%;
}
.shop .goods {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shop .show__goods {
    margin-bottom: 65px;
    font-size: 17px;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
}
.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.pages {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.paginator span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
}
.paginator .active {
    background-color: #000;
    color: #fff;
}
.paginator .normal {
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}
.paginator .vector {
    position: absolute;
    width: 20px;
    height: 10px;
    cursor: pointer;
    filter: opacity(50%);
}
.paginator .pages .left {
    left: -40px;
}
.paginator .pages .right {
    right: -40px;
}
.paginator .pages .left:hover,
.paginator .pages .right:hover{
    filter: opacity(100%);
    transition: .5s ease;
}



.shop .category__mobile {
    display: none;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    flex-direction: column;
}
.mobile__category__all {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    transform: translateY(-130%);
    transition: all .5s ease;
    height: 0;
}
.btn__mobile__сategory {
    position: relative;
    z-index: 5;
    background-color: white;
    outline: none;
}
.btn__mobile__сategory:active {
    background-color: rgba(241, 234, 220, 1);
    transition: all .5s ease;
}
.mobile__category__all.mobile__active {
    height: 100%;
    transform: translateY(0);
    transition: all .5s ease;
}
.mobile__category__all li {
    text-align: center;
}
.mobile__category__all a {
    text-decoration: none;
}
.mobile__category__all li.active a {
    color: white;
}

@media only screen and (max-width: 1200px) {
    .category__item {
        padding: 19px 50px;
    }
}
@media only screen and (max-width: 992px) {
    .category__item {
        padding: 15px 27px;
    }

    .shop .show__goods {
        font-size: 15px;
        margin-bottom: 50px;
    }
    .shop .category {
        margin-bottom: 50px;
    }
    .paginator span {
        width: 36px;
        height: 36px;
    }
}
@media only screen and (max-width: 768px) {
    .shop .category {
        display: none;
    }
    .shop .goods {
        margin-top: 40px;
    }
    .shop .category__mobile {
        display: flex;
    }
    .shop .show__goods {
        margin-bottom: 40px;
    }
    .paginator span {
        width: 33px;
        height: 33px;
    }
}
