
.breadcrumbs {
    display: flex;
    list-style-type: none;
    font-size: 17px;
    margin-bottom: 102px;
}
.breadcrumbs a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.crumb {
    margin-right: 8px;
}
.crumb::after {
    content: '-';
    margin-left: 8px;
}
.crumb:last-child{
    color: rgba(144, 144, 144, 1);
}
.crumb:last-child:after {
    display: none;
}
@media only screen and (max-width: 992px) {
    .breadcrumbs {
        font-size: 15px;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .breadcrumbs {
        margin-bottom: 51px;
    }
}