* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.App {
  position: relative;
  font-family: "Raleway", sans-serif;

}

 .container {
   padding: 0 15px;
   width: 100%;
   max-width: 1110px;
   margin: 0 auto 0 auto;
   position: relative;
}



.block__fon {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #F1EADC;
  height: 826px;
  width: 100%;
  max-width: 44%;
}
.App .main {
  margin-top: 45px;
  position: relative;
  display: flex;
  z-index: 2;
}

.main .main__block {
  display: flex;
}
.block__left {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 563px;
  justify-content: flex-end;
}
.block__left .sliders {
  display: flex;
  max-width: 563px;
}
.main__offer {
  min-width: 563px;
  overflow: hidden;
  transition: .5s ease;
}
.position__1 {
  transform: translateX(0);
}
.position__2 {
  transform: translateX(-563px);
}
.position__3 {
  transform: translateX(-1126px);
}
.main__offer h1 {
  margin-bottom: 45px;
}
.main__offer .text {
  font-size: 20px;
  line-height: 28px;
  max-width: 365px;
  text-align: right;
  margin-bottom: 52px;
}
.block__left .main__btns {
  display: flex;
  height: 68px;
  max-width: 310px;
  margin-left: 65px;
  margin-bottom: 126px;
  cursor: pointer;
}
.block__left .main__btns .first__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(110, 156, 159, 0.1);
  width: 67px;
  height: 67px;
}
.block__left .main__btns .first__btn .vector {
  width: 14px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("components/main__offer/img/Vector 1.png");
}

.block__left .main__btns:hover .first__btn {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color .5s ease;
  cursor: pointer;
}
.block__left .main__btns a:last-child {
  max-width: 243px;
  width: 100%;
  text-decoration: none;
}
.block__left .main__btns button {
  max-width: 243px;
}

.block__left .nav__slider {
  display: flex;
  gap: 12px;
  min-width: 114px;
  max-width: 114px;
  margin: 0 auto;

}
.block__left .nav__slider button {
  width: 30px;
  height: 4px;
  border: none;
}
.block__left .nav__slider .slider__unactive {
  background-color: #D1D1D1;
  cursor: pointer;
}
.block__left .nav__slider .slider__unactive:hover {
  background-color: #8d8d8d;

}
.block__left .nav__slider .slider__active {
  background-color: black;
}
.main__block .block__right {
  width: 100%;
  position: relative;
  height: 646px;
}
.main__block .block__right .photo__1 {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    object-fit: cover;
}
.main__block .block__right .photo__2 {
    position: absolute;
    bottom: -54px;
    left: -25px;
    width: 100%;
    max-width: 190px;
    object-fit: cover;
}
.main__block .block__right .photo__3 {
    position: absolute;
    padding-right: 15px;
    top: 123px;
    right: -106px;
    width: 100%;
    max-width: 212px;
    object-fit: cover;
}
/*.main__block .block__right .photos {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 0;*/
/*  width: 100%;*/
/*  max-width: 410px;*/
/*  height: 100%;*/
/*  max-height: 100%;*/
/*  background-size: cover;*/
/*  background-repeat: no-repeat;*/
/*  background-image: url("components/block__right/main_girl.png");*/
/*}*/
/*.main__block .block__right .photos .photo__2 {*/
/*  position: absolute;*/
/*  bottom: -54px;*/
/*  left: -151px;*/
/*  width: 100%;*/
/*  max-width: 190px;*/
/*  height: 100%;*/
/*  max-height: 318px;*/
/*  background-size: cover;*/
/*  background-repeat: no-repeat;*/
/*  background-image: url("components/block__right/left_girl.png");*/
/*}*/
/*.main__block .block__right .photos .photo__3 {*/
/*  position: absolute;*/
/*  top: 123px;*/
/*  right: -116px;*/
/*  width: 100%;*/
/*  max-width: 197px;*/
/*  height: 100%;*/
/*  max-height: 197px;*/
/*  background-size: cover;*/
/*  background-repeat: no-repeat;*/
/*  background-image: url("components/block__right/right_girl.png");*/
/*}*/
.new__collection {
  width: 100%;
  margin-top: 190px;
}

.new__collection .goods {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}

.new__collection > a {
 text-decoration: none;
}
.new__collection  button {
  margin: 0 auto;
}

.block__important {
  margin-top: 130px;
  margin-bottom: 130px;
}

.block__important .block__info {
  display: flex;
  justify-content: space-between;
}
.block__important .block__info .info__item {
  max-width: 305px;
}
.block__important .block__info .info__item .item__logo {
  margin-bottom: 37px;
}

.block__important .block__info .info__item .item__desc {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

.block__team .team__frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 487px;
}
.block__team .team__frame .desc {
  max-width: 255px;
}
.block__team .team__frame .desc h3 {
  margin-bottom: 28px;
}
.block__team .team__frame .desc .text {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}
.block__team .team__frame .desc .text p {
  margin-top: 28px;
  margin-bottom: 28px;
}
.block__team .team__frame .desc a {
  color: rgba(110, 156, 159, 1);
  text-decoration: none;
}
.block__team .team__frame .desc a:hover {
  border-bottom: 1px solid rgba(206, 222, 223, 1);
  transition: border-bottom-color .5s ease;
}

.block__team .team__frame .frame__gallery .gallery__slider {
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 729px;
  width: 100%;
}
.block__team .team__frame .frame__gallery .gallery__slider .position__1 {
  max-width: 100%;
  width: 100%;
  transform: translateX(0);
  transition: .5s ease;
}
.block__team .team__frame .frame__gallery .gallery__slider .position__2 {
  max-width: 100%;
  width: 100%;
  transform: translateX(-729px);
  transition: .5s ease;
}
.block__team .team__frame .frame__gallery .gallery__slider .position__3 {
  max-width: 100%;
  width: 100%;
  transform: translateX(-1458px);
  transition: .5s ease;
}
.block__team .team__frame .frame__gallery .gallery__slider .btns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  max-width: 114px;
  width: 100%;
  bottom: 61px;
  left: calc(50% - 52px);
}

.block__team .team__frame .frame__gallery .gallery__slider .btns button {
  max-width: 30px;
  width: 100%;
  height: 4px;
  border: none;
}
.block__team .team__frame .frame__gallery .gallery__slider .btns .unActive {
  background-color: rgba(255, 255, 255, 0.36);
  cursor: pointer;
}
.block__team .team__frame .frame__gallery .gallery__slider .btns .unActive:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transition: .5s ease;
}
.block__team .team__frame .frame__gallery .gallery__slider .btns .active {
  background-color: white;
}
.block__team .team__frame .frame__gallery {
  position: relative;
  max-width: 729px;
}
.block__team .team__frame .frame__gallery .vector {
  position: absolute;
  width: 28px;
  height: 14px;
  top: calc(50% - 7px);
  cursor: pointer;
}
.block__team .team__frame .frame__gallery .vector__left {
  background-image: url("./components/gallery__slider/Vector 1.svg");
  left: -61px;
}
.block__team .team__frame .frame__gallery .active__vector:hover {
  filter: brightness(0%);
}
.block__team .team__frame .frame__gallery .vector__right {
  background-image: url("./components/gallery__slider/Vector 2.svg");
  right: -61px;
  filter: opacity(50%);
}
.block__team .team__frame .frame__gallery .unActive__vector:hover {
  filter: opacity(100%);
  cursor: pointer;
}
.footer {
  margin-top: 130px;
  background: rgba(241, 234, 220, 1);
  height: 363px;
}
.footer__up {
  display: flex;
  justify-content: space-between;
  padding-top: 104px;
}
.footer__up .footer__logo {
  display: flex;
}
.footer__up .footer__logo .logo {
  width: 18px;
  border: none;
  background-color: transparent;
  background-image: url("components/header/Vector.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 16px;
}
.footer__up .footer__logo a {
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__down {
  display: flex;
  justify-content: space-between;
}
.footer__down .copyright {
  font-size: 13px;
  margin-top: 70px;
}
.footer__down .clothes {
  padding-right: 185px;
  margin-top: 41px;
  font-size: 13px;
  font-weight: 400;
}
.footer__down .copyright a,
.footer__down .clothes a {
  text-decoration: none;
  color: black;
}
.footer__down .copyright p,
.footer__down .clothes li {
  margin-top: 6px;
}
.footer__down .clothes li {
  list-style: none;
}
.footer__down .contact {
  margin-top: 9px;
  font-size: 15px;
  font-weight: 400;
}
.footer__down .contact .soc__logo {
  margin-top: 31px;
  margin-bottom: 31px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.footer__down .contact .visa {
  display: flex;
  justify-content: flex-end;
}


@media only screen and (max-width: 1300px) {

}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 320px) {

}