
 .map {
    max-width: 100%;
    margin-bottom: 130px;
}
 .map img {
    max-width: 100%;
    object-fit: cover;
}
 .block__contacts {
    display: flex;
    gap: 111px;
}

 .block__contacts .contact__item .item__name {
    font-size: 17px;
    font-weight: 500;
}
 .block__contacts .contact__item h4 {
    margin-top: 19px;
    margin-bottom: 0;
}
 .form {
    position: relative;
    margin-top: 130px;
    max-width: 443px;
    display: flex;
    flex-direction: column;
    padding-bottom: 130px;
    overflow: hidden;
}
 .form h3 {
    margin-bottom: 62px;
}

 .form button {
    max-width: 189px;
}

 .form .message {
    position: absolute;
    bottom: 0;
    font-size: 17px;
    font-weight: 500;
    padding: 30px 76px;
    background-color: rgba(241, 234, 220, 1);
    transform: translateY(100%);
    transition: all .5s ease;
}
 .form .message.active {
    transform: translateY(0);
    transition: all .5s ease;
}
@media only screen and (max-width: 1200px) {
     .map {
        margin-bottom: 100px;
    }
}
@media only screen and (max-width: 992px) {
     .map {
        margin-bottom: 40px;
    }
     .block__contacts {
        gap: 49px;
    }
     .form {
        margin-top: 100px;
    }
     .form h3 {
        margin-bottom: 50px;
    }
     .form {
        padding-bottom: 110px;
    }
}
@media only screen and (max-width: 768px) {

     .block__contacts {
        flex-direction: column;
        gap: 20px;
    }
     .block__contacts .contact__item h4 {
        margin-top: 2px;
    }
     .form {
        margin-top: 80px;
        padding-bottom: 90px;
    }
     .block__contacts .contact__item .item__name {
        font-size: 15px;
    }
     .form .message {
        padding: 25px 72px;
    }

}
@media only screen and (max-width: 480px) {
     .block__contacts .contact__item .item__name {
        font-size: 13px;
    }
     .form .message {
        padding: 22px 12px;
    }
     .form {
        padding-bottom: 80px;
    }
}