.about {
    max-width: 100%;
}
.about > a {
    margin: 0 auto;
}
.about .block__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.about .block__about .info {
    max-width: 542px;
}
.about .block__about .info h3 {
    margin-bottom: 46px;
}
.about .block__about .info .info__content {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
}
.about .block__about .info .info__content p {
    margin-top: 24px;
}
