
.link__btn {
    display: block;
    text-decoration: none;
    max-width: 260px;
    margin: 0 auto;
}
.block__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.block__about img {
    max-width: 100%;
}
.block__about .info {
    max-width: 542px;
}
.block__about .info h3 {
    margin-bottom: 46px;
}
.block__about .info .info__content {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
}
.block__about .info .info__content p {
    margin-top: 24px;
}

@media only screen and (max-width: 1200px) {
    .block__about {
        gap: 30px;
    }
}
@media only screen and (max-width: 992px) {
    .block__about .info .info__content {
        font-size: 15px;
    }
    .block__about img {
        max-width: 380px;
    }
    .link__btn {
        max-width: 220px;
    }
    .link__btn button {
        padding: 17px 25px;
    }
}
@media only screen and (max-width: 768px) {
    .block__about {
        flex-direction: column;
        margin-bottom: 80px;
    }
    .block__about:nth-last-child(2) {
        flex-direction: column-reverse;
    }
    .link__btn {
        max-width: 180px;
    }
    .link__btn button {
        padding: 11px 17px
    }
}
@media only screen and (max-width: 480px) {
    .block__about {
        margin-bottom: 60px;
    }
    .block__about img {
        max-width: 100%;
    }
    .block__about .info .info__content {
        font-size: 13px;
    }
}
