.about {
    max-width: 100%;
}
.about .title {
    font-size: 55px;
    font-weight: 500;
}
.about .block__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.about .block__about .info {
    max-width: 542px;
}
.about .block__about .info .info__title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 46px;
}
.about .block__about .info .info__content {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
}
.about .block__about .info .info__content p {
    margin-top: 24px;
}
.about .shop__btn {
    display: block;
    max-width: 260px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    padding: 22px 50px;
    background-color: rgba(110, 156, 159, 1);
    margin: 0 auto;
    text-decoration: none;
}
.about .shop__btn:hover {
    background: rgba(80, 148, 152, 1);
    transition: background-color .5s ease;
    cursor: pointer;
}